.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.5rem;
  background-image: url('../media/Outside_morning.jpeg');
  background-size: cover;
  background-position: center;
  /* Optional: add overlay for readability */
  border-radius: 30px;
  background-color: rgba(0,0,0,0.3);
  background-blend-mode: darken;
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 999;
  flex-wrap: wrap;
}
h1,h2 .logo-text {
  font-family: 'Playfair Display', serif;
}

.logo {
  height: 80px;
  object-fit: contain;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  backdrop-filter: blur(5px);                 /* blur backdrop with 5px */
  -webkit-backdrop-filter: blur(25px);  
      /* Safari support */
  
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 2.1rem;  
  color: rgba(255, 235, 205, 0.3); /* translucent bleach almond */
 padding: 3px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
   color: blanchedalmond;
}

.dancing-script {
  font-family: 'Playfair Display', serif;
   backdrop-filter: blur(2px);
   color: blanchedalmond;
}

/* Social/Call Buttons */
.nav-icons {
  display: flex;
  align-items: center;
  gap: 1rem;

}

.icon-btn {
  font-size: 1.2rem;
     color: blanchedalmond;
  transition: color 0.3s ease;
}

.icon-btn:hover {
  color: #0077cc;
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .nav-icons {
    justify-content: center;
  }
}
