/* Global margin for all content */
body {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.page-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* You can also add some responsiveness */
@media (max-width: 768px) {
  .page-content {
    padding: 0 15px;
  }
}
.header_container{
  background-image: 'url("https://images.unsplash.com/photo-1465064154639-bc188708a175?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")';
  background-size: cover;
  background-position: center;
  height: 300px;
  padding: 20px;
  color: rgb(8, 8, 8); /* Ensures text is readable on top of the image */
  text-align: center;
}





.slider  {
  width: 100%; /* Adjust to fit the container */
  height: auto; /* Maintain aspect ratio */
  max-height: 600px; /* Optional: limit the height */
  object-fit: cover; /* Adjust how the image fills its container */
 
}
.three-d-border {
  padding: 20px;
  width: 100vw;
  height: auto;
  text-align: center;
  background-color: #ffffff;
  border: 2px solid #ddd; /* Main border */
  box-shadow: 
    inset 3px 3px 5px rgba(0, 0, 0, 0.1), /* Inner shadow */
    3px 3px 10px rgba(0, 0, 0, 0.3), /* Bottom-right outer shadow */
    -3px -3px 10px rgba(255, 255, 255, 0.8); /* Top-left outer highlight */
  border-radius: 10px; /* Smooth corners */
  flex:1;

}



.mapbox-container{

  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  margin-top: 50px;
  width: 100%;
  height: 50vh; /* Makes it responsive to viewport height */
  max-height: 500px;
  border: 2px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .mapbox-container {
    flex-direction: column; /* Vertical alignment for mobile */
  }
}
.swiper-slide img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
}
